# =============== CONFIGURACIÓN BOT ===============
# Token secreto de tu bot de Discord (obtenlo en el portal de desarrolladores)
DISCORD_TOKEN=MTExNDQ1MTI5MTE0NjU1OTUyOA.Gz2o_c.ifvbHRs0Cmfi8DFXAzHY5qU3VrwfJFDpBCEjPk

# ID de tu usuario en Discord (a este ID le llegarán los mensajes)
TARGET_USER_ID=973865546212843522

# Puerto interno por donde escuchará el bot al webhook de Uptime Kuma (Mapeado y expuesto en el docker-compose)
WEBHOOK_PORT=15830
